{% extends 'base.html' %}

{% block title %}
Add employee
{% endblock %}

{% block body %}
<div class="container">
    <h3>Edit employee</h3><br>
    <form method="post">
        <select class="form-control" id="department" name="department" required>
            {% for d in departments %}
              {%if d.name == employees.department %}
                <option selected>{{d.name}}</option>
              {% else %}
                <option>{{d.name}}</option>
              {% endif %}
            {% endfor %}
        </select><br>
        <input type="text" class="form-control" id="name" name="name" value="{{employees.name}}" pattern="[A-Za-z ]{1,100}" required><br>
        <input type="date" class="form-control" id="b_date" name="b_date" value="{{employees.b_date}}" required><br>
        <input type="number" class="form-control" id="salary" name="salary" value="{{employees.salary}}" pattern="[0-9]{1, 10000000}" required><br>
        <input class="btn btn-lg btn-primary" type="submit" value="Edit"><br>
    </form>
</div>
{% endblock %}