{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block body %}
<div class="container">
    <div class=".col-xs-6 .col-md-4">
    {% for d in departments %}
            <h4>{{d.name}}</h4>
            {% for e in employees %}
                <div class="row">
                {% if e.department == d.name %}
                    <div class="alert alert-info">
                        <h6>{{e.name}}</h6>
                        <h6>{{e.salary}}$</h6>
                    </div>
                {% endif %}
                </div>
            {% endfor %}
    {% endfor %}
    </div>
</div>
{% endblock %}