{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block body %}
<div class="container">
    <div class="container">
    {% for d in departments %}
            <h4>{{d.name}}</h4>
            <br>
                <div class="col">
                    {% for e in employees %}
                        {% if e.department == d.name %}
                            <div class="col alert alert-info">
                                <h6>{{e.name}}</h6>
                                <h6>{{e.salary}}$</h6>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            <br>
    {% endfor %}
    </div>
</div>
{% endblock %}