{% extends 'base.html' %}

{% block title %}
Search
{% endblock %}

{% block body %}
<div class="container">
    <div class="col">
        <h4>Search employee by birth date</h4>
        <form method="post">
            <input type="date" class="form-control" id="b_date" name="b_date" required><br>
            <input class="btn btn-lg btn-primary" type="submit" value="Find"><br><br>
        </form>
        {% for r in res %}
            <div>
                <h5>{{r.name}}</h5>
                <h5>{{r.department}}</h5>
                <h5>{{r.salary}}$</h5>
                <a href="/{{r.id}}/delete_employee" class="btn btn-outline-danger btn-sm">Delete</a>
                <a href="/{{r.id}}/edit_employee" class="btn btn-outline-info btn-sm">Update</a>
            </div>
            <br>
        {% endfor %}
        <form method="post">
            <h4>Search employee by period between dates</h4>
            <input type="date" class="form-control" id="b_date_from" name="b_date_from" required><br>
            <input type="date" class="form-control" id="b_date_to" name="b_date_to" required><br>
            <input class="btn btn-lg btn-primary" type="submit" value="Find"><br>
            <br>
        </form>
    </div>
</div>
{% endblock %}